<% content_for :title, "Editing" %>

<div class="md:w-2/3 w-full">
<h1 class="font-bold text-4xl border-b border-slate-700 pb-2 mb-5">Editing</h1>

<%= render "form", public_contract: @public_contract %>

  <%= link_to "Show original", @public_contract, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
 
 
  <%= link_to public_contracts_path, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white
        bg-slate-700 hover:bg-slate-500 font-medium cursor-pointer flex items-center
        justify-center gap-2" do %>
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
</svg>

        Cancel <% end %>
</div>
