- content_for :title, "Public contracts"

.w-full
  - if notice.present?
    p.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-md.inline-block#notice
      = notice

  .flex.justify-between.items-center.border-b.border-slate-700.pb-2.mb-5
    h1.font-bold.text-4xl Public contracts
    = link_to new_public_contract_path, class: "text-center rounded-md px-3.5 py-2.5 bg-amber-500 hover:bg-amber-600 text-slate-700  font-medium flex items-center justify-center gap-2" do
      svg.w-6.h-6.text-slate-700.dark:text-white aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"
        path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4.243a1 1 0 1 0-2 0V11H7.757a1 1 0 1 0 0 2H11v3.243a1 1 0 1 0 2 0V13h3.243a1 1 0 1 0 0-2H13V7.757Z" clip-rule="evenodd"
      | Add new

  #public_contracts.min-w-full.divide-y.divide-slate-700.space-y-5
    - if @public_contracts.any?
      - @public_contracts.each do |public_contract|
        .flex.flex-col.sm:flex-row.justify-between.sm:items-center.pb-5.sm:pb-0
          div id=dom_id(public_contract) class="w-full sm:w-auto my-5 space-y-5"
            h2.font-bold.text-xl = public_contract.name
            p.font-medium Zadavatel: #{public_contract.client}
            p Předmět: #{public_contract.subject}
          .flex.space-x-2.space-y-2
            = link_to public_contract, class: "rounded-md px-3.5 py-2.5 bg-slate-700 hover:bg-slate-500 text-white" do
              svg.w-6.h-6.text-white aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"
                path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            = link_to edit_public_contract_path(public_contract), class: "rounded-md px-3.5 py-2.5 text-white bg-slate-700 hover:bg-slate-500" do
              svg.w-6.h-6.text-white aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
            = button_to public_contract, method: :delete, class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 cursor-pointer", data: { turbo_confirm: "Are you sure?" } do
              svg.w-6.h-6.text-white aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
    - else
      p.text-center.my-10 No public contracts found.