<% content_for :title, "New public contract" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl border-b border-slate-700 pb-2 mb-5">
    New public contract
  </h1>

  <%= render "form", public_contract: @public_contract %>
 
</div>